:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;

    .category {
        max-width: 20rem;

        img {
            max-width: 20rem;
        }
    }

}

@media (max-width: 700px){
    :host {
        gap: 1.5rem;
        margin-top: 0.8rem;
    
        .category {
            max-width: 16rem;
    
            img {
                max-width: 16rem;
            }
        }
    
    } 
}