<mat-drawer-container class="main-container">
  <mat-drawer class="nav-container" #drawer mode="side" position="start">
    <div class="side-nav">
      <a routerLink="home" (click)="drawer.toggle()">home</a>
      <a routerLink="recipe/category" (click)="drawer.toggle()">Categories</a>
    </div>
  </mat-drawer>
  
  <div>
    <mat-toolbar class="mat-toolbar">
      <span>Logo</span>
      <span class="spacer"></span>
      <app-theme [theme]="themeLight" (click)="toggleTheme()"></app-theme>
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <hr class="mat-primary">
  </div>
  <main>
    <app-container-pages>
      <router-outlet></router-outlet>
    </app-container-pages>
    <p>end</p>
  </main>
</mat-drawer-container>


