
<mat-drawer-container class="main-container">
  <mat-drawer class="side-nav" #drawer mode="side" position="end">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <main>
    <div>
      <mat-toolbar class="mat-toolbar" color="primary">
        <span>Logo</span>
        <span class="spacer"></span>
        <app-theme [theme]="themeLight" (click)="toggleTheme()"></app-theme>
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </mat-toolbar>
    </div>


  </main>
</mat-drawer-container>


