
<section>
  <p class="header-p">Welcome to our <strong> recipe website</strong>, where you can discover a world of delicious possibilities! <br><br> Whether you're a <strong> seasoned chef</strong> or a <strong> novice cook</strong>, we've got you covered with a variety of randomly generated recipes and categorized options by type, from <strong> breakfast</strong> to <strong>dinner</strong>  and everything in between. </p>
</section>
<section>
  <h2 class="mat-accent">Categories:</h2>
  <hr class="mat-accent">
  <app-categories></app-categories>
</section>
<section>
  <h2 class="mat-accent">10 randoms recipes:</h2>
  <hr class="mat-accent">
  <ng-container *ngIf="recipes.length > 0 else elseBlock">
    <app-container-recipes>
      <ng-container *ngFor="let recipe of recipes">
        <app-card [recipe]="recipe"></app-card>
      </ng-container>
    </app-container-recipes>
  </ng-container>
  <ng-template #elseBlock>
    <div class="spinner-container">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
  </ng-template>
</section>