 $my-primary: (
  50: rgb(247, 247, 188),
  100: rgb(231, 231, 130),
  200: rgb(192, 192, 81),
  300: rgb(161, 161, 38),
  400: rgb(143, 143, 15),
  500: rgb(128, 128, 0),
  600: rgb(94, 94, 3),
  700: rgb(77, 77, 2),
  800: rgb(54, 54, 1),
  900: rgb(26, 26, 1),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);
$my-accent: (
  50: rgb(206, 191, 184),
  100: rgb(185, 142, 123),
  200: rgb(192, 122, 92),
  300: rgb(182, 93, 55),
  400: rgb(184, 78, 33),
  500: rgb(183, 65, 14),
  600: rgb(170, 51, 0),
  700: rgb(124, 37, 0),
  800: rgb(102, 32, 1),
  900: rgb(70, 22, 1),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);
