@use "@angular/material" as mat;
@include mat.core();


 $my-primary: (
  50: #e2fdd8,
  100: #c3fbb2,
  200: #9df88b,
  300: #abf665,
  400: #78f43e,
  500: #62ad24,
  600: rgb(94, 94, 3),
  700: rgb(77, 77, 2),
  800: rgb(54, 54, 1),
  900: rgb(26, 26, 1),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);
$my-accent: (
  50: #E2EFF4,
  100: #C4E0E8,
  200: #a9d4e0,
  300: #89c6d6,
  400: #6ab8cc,
  500: #4babc4,
  600: rgb(170, 51, 0),
  700: rgb(124, 37, 0),
  800: rgb(102, 32, 1),
  900: rgb(70, 22, 1),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

$my-warn: mat.$red-palette;

$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($my-primary, 500),
      accent: mat.define-palette($my-accent, 500),
      warn: mat.define-palette($my-warn),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($my-primary, 100),
      accent: mat.define-palette($my-accent, 100),
      warn: mat.define-palette($my-warn),

    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

:not(.darktheme){
  @include mat.all-component-themes($theme);

}
.dark-theme{
  @include mat.all-component-colors($theme-dark);
}
